In [2]:
import pandas as pd 
import numpy as np

In [10]:
df = pd.DataFrame({"Item":['Item0', 'Item0', 'Item1', 'Item1'],
    'CType':['Gold', 'Bronze', 'Gold', 'Silver'],
    'USD':['1$', '2$', '3$', '4$'],
    'EU':['1€', '2€', '3€', '4€']})

In [12]:
df

    CType  EU   Item USD
0    Gold  1€  Item0  1$
1  Bronze  2€  Item0  2$
2    Gold  3€  Item1  3$
3  Silver  4€  Item1  4$

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
CType    4 non-null object
EU       4 non-null object
Item     4 non-null object
USD      4 non-null object
dtypes: object(4)
memory usage: 208.0+ bytes

In [14]:
df.dtypes

CType    object
EU       object
Item     object
USD      object
dtype: object

In [15]:
df.describe()

       CType  EU   Item USD
count      4   4      4   4
unique     3   4      2   4
top     Gold  1€  Item1  2$
freq       2   1      2   1

In [16]:
p_table = df.pivot(index='Item',columns='CType', values='USD')

In [21]:
p_table

CType Bronze Gold Silver
Item
Item0     2$   1$   None
Item1   None   3$     4$

In [22]:
p_table = df.pivot(index='Item',columns='CType')

In [23]:
p_table

          EU                USD
CType Bronze Gold Silver Bronze Gold Silver
Item
Item0     2€   1€   None     2$   1$   None
Item1   None   3€     4€   None   3$     4$

In [28]:
df2 = pd.DataFrame({"Item":['Item0', 'Item0', 'Item0', 'Item1'],
    'CType':['Gold', 'Bronze', 'Gold', 'Silver'],
    'USD':['1', '2', '3', '4'],
    'EU':['1', '2', '3', '4']})

#avoid duplicate value 
p = df2.pivot_table(index='Item', columns='CType', values='USD',aggfunc=np.min)
p

CType Bronze  Gold Silver
Item
Item0      2     1   None
Item1   None  None      4

In [33]:
# Row Multi-Index
row_idx_arr = list(zip(['r0', 'r0'], ['r-00', 'r-01']))
row_idx = pd.MultiIndex.from_tuples(row_idx_arr)

# Column Multi-Index
col_idx_arr = list(zip(['c0', 'c0', 'c1'], ['c-00', 'c-01', 'c-10']))
col_idx = pd.MultiIndex.from_tuples(col_idx_arr)

print(row_idx,'\n',col_idx)

MultiIndex(levels=[['r0'], ['r-00', 'r-01']],
           labels=[[0, 0], [0, 1]])
 MultiIndex(levels=[['c0', 'c1'], ['c-00', 'c-01', 'c-10']],
           labels=[[0, 0, 1], [0, 1, 2]])

In [35]:
# Create the DataFrame
d = pd.DataFrame(np.arange(6).reshape(2,3), index=row_idx, columns=col_idx)
d = d.applymap(lambda x: (x // 3, x % 3))

# Stack/Unstack
s = d.stack()
u = d.unstack()
print(s,'\n',u)

                  c0      c1
r0 r-00 c-00  (0, 0)     NaN
        c-01  (0, 1)     NaN
        c-10     NaN  (0, 2)
   r-01 c-00  (1, 0)     NaN
        c-01  (1, 1)     NaN
        c-10     NaN  (1, 2)
         c0                              c1
      c-00            c-01            c-10
      r-00    r-01    r-00    r-01    r-00    r-01
r0  (0, 0)  (1, 0)  (0, 1)  (1, 1)  (0, 2)  (1, 2)